.notpk{
  float:left;
  width:100%;
}

.stats{
  float:left;
  width:25%;
}

.weapons, .armour, .shield{
  float:left;
  width:100%;
}

.stats table, .weapons table, .armour table, .shield table{
  width:100%;
  border: 1px solid #000;
  background: #FFF;
  text-align:left;
}

.stats table td, .weapons table th, .weapons table td, .armour table th, .armour table td, .shield table th, .shield table td{
  margin:0;
  padding: 4px 8px;
  border-bottom: 1px solid #B5B5B5;
}

.stats table tr td:first-child{
  padding: 4px 0px 4px 8px;
}

.stats table td input, .weapons table td input, .armour table td input, .shield table td input{
  width:100%;
}

.weapons, .armour, .shield {
  padding:6px 0px;
}

.weapons table tr th:first-child, .armour table tr th:first-child, .shield table tr th:first-child, .weapons table tr th:nth-child(7), .armour table tr th:nth-child(8), .shield table tr th:nth-child(6) {
  width:20%;
}

.basicInfoSection, .combatAndSaves{
  float:right;
  width:70%;
}

.characterIdentification, .defenses, .baseAttack, .saves, .skillsAndFeats, .importantEquipment {
  float:left;
  width:100%;
}

.characterIdentification div, .defenses div, .baseAttack div, .saves div {
  float:left;
  width:20%;
  padding:6px;
}

.characterIdentification div:nth-child(n+4){
  width:10%;
}

.defenses div {
  width:15%;
}

.skillsAndFeats div {
  float:left;
  width:31%;
  padding:6px;
}

.characterIdentification div input, .defenses div input, .baseAttack div input, .saves div input, .skillsAndFeats div textarea, .importantEquipment textarea {
  width:100%;
}

textarea{
  resize:none;
  height:150px;
}