<!DOCTYPE html>
<html>
	<head>
		<meta charset=utf-8 />
		<title>Quick NPC</title>
	</head>
	<!-- Mock OP Layout -->
	<body>
		<!-- Body Page has a wrapper for content -->
		<div id="wrapper">
			<!-- Begin Header -->
			<div id='navBar'>
				<span>The Obsidian Portal Nav Bar</span>
			</div>
			<!-- Begin Content Section, consists of 2 columns -->
			<div id='content'>
				<div id='secondary-column'>
					<span>Obsidian Portal Sidebar</span>
				</div>
				<div id='main-column'>
					<div id='campaign-header'>
						<span>The Obsidian Portal campaign header and nav bar section</span>
					</div>

					<!--Insert DST here-->

				</div>
				<br class='clear'>
			</div>
		</div> <!--End of Wrapper -->
	</body>
</html>