<div class='notpk'>
  <div class='attributesSection'>
	<div class='stats'>
	  <table cellspacing="0">
		<tr>
		  <td>STR</td>
		  <td><input type="text"/></td>
		  <td><input type="text" value="+ "/></td>
		</tr>
		<tr>
		  <td>DEX</td>
		  <td><input type="text"/></td>
		  <td><input type="text" value="+ "/></td>
		</tr>
		<tr>
		  <td>CON</td>
		  <td><input type="text"/></td>
		  <td><input type="text" value="+ "/></td>
		</tr>
		<tr>
		  <td>INT</td>
		  <td><input type="text"/></td>
		  <td><input type="text" value="+ "/></td>
		</tr>
		<tr>
		  <td>WIS</td>
		  <td><input type="text"/></td>
		  <td><input type="text" value="+ "/></td>
		</tr>
		<tr>
		  <td>CHA</td>
		  <td><input type="text"/></td>
		  <td><input type="text" value="+ "/></td>
		</tr>
	  </table>
	</div>
  <div class='basicInfoSection'>
	<div class='characterIdentification'>
	  <div>
		<input type="text" />
		<span>Name</span>
	  </div>
	  <div>
		<input type="text" />
		<span>Race</span>
	  </div>
	  <div>
		<input type="text" />
		<span>Class</span>
	  </div>
	  <div>
		<input type="text" />
		<span>Level</span>
	  </div>
	  <div>
		<input type="text" />
		<span>Alignment</span>
	  </div>
	</div>
	<div class='defenses'>
	  <div>
		<input type="text" />
		<span>Init</span>
	  </div>
	  <div>
		<input type="text" />
		<span>Move</span>
	  </div>
	  <div>
		<input type="text" />
		<span>AC</span>
	  </div>
	  <div>
		<input type="text" />
		<span>FF</span>
	  </div>
	  <div>
		<input type="text" />
		<span>Touch</span>
	  </div>
	</div>
</div>
 
<div class='combatAndSaves'>          
	<div class='baseAttack'>
		<div>
			<input type="text" value="+ "/>
			<span>BAB</span>
		</div>
		<div>
			<input type="text" value="+ "/>
			<span>Grapple</span>
		</div>
		<div>
			<input type="text" value="+ "/>
			<span>Melee</span>
		</div>
		<div>
			<input type="text" value="+ "/>
			<span>Ranged</span>
		</div>
		</div>
	<div class='saves'>
		<div>
			<input type="text" value="+ "/>
			<span>Fort</span>
		</div>
		<div>
			<input type="text" value="+ "/>
			<span>Ref</span>
		</div>
		<div>
			<input type="text" value="+ "/>
			<span>Will</span>
		</div>
	</div>
</div>
  
	<div class='skillsAndFeats'>
	  <div class='skills'>
		<span>Skills</span>
		<textarea>some skill +value</textarea>
	  </div>
  
	  <div class='feats'>
		<span>Feats</span>
		<textarea>some feat</textarea>
	  </div>
  
	<div class='abilities'>
	  <span>Abilities</span>
	  <textarea>some ability (eg class, supernatural, extraordinary, etc)</textarea>
	</div>
	</div>
  </div>
	
  <div class='weapons'>
	<table>
		<tr>
		  <th>Weapon Name</th>
		  <th>To Hit</th>
		  <th>Damage</th>
		  <th>Threat</th>
		  <th>Damage Type</th>
		  <th>Special</th>
		</tr>
		<tr>
		  <td><input type="text"/></td>
		  <td><input type="text"/></td>
		  <td><input type="text"/></td>
		  <td><input type="text"/></td>
		  <td><input type="text"/></td>
		  <td><input type="text"/></td>
		</tr>
	</table>
  </div>
  
  <div class='armour'>
	<table>
		<tr>
		  <th>Armour Name</th>
		  <th>Type</th>
		  <th>AC</th>
		  <th>Max Dex</th>
		  <th>Check</th>
		  <th>Arc. Fail</th>
		  <th>Move</th>
		  <th>Special</th>
		</tr>
		<tr>
		  <td><input type="text"/></td>
		  <td><input type="text"/></td>
		  <td><input type="text"/></td>
		  <td><input type="text"/></td>
		  <td><input type="text"/></td>
		  <td><input type="text"/></td>
		  <td><input type="text"/></td>
		  <td><input type="text"/></td>
		</tr>
	</table>
  </div>
  
  <div class='shield'>
	<table>
		<tr>
		  <th>Shield Name</th>
		  <th>AC</th>
		  <th>Type</th>
		  <th>Check</th>
		  <th>Arc. Fail</th>
		  <th>Special</th>
		</tr>
		<tr>
		  <td><input type="text"/></td>
		  <td><input type="text"/></td>
		  <td><input type="text"/></td>
		  <td><input type="text"/></td>
		  <td><input type="text"/></td>
		  <td><input type="text"/></td>
		</tr>
	</table>
  </div>
  
  <div class='importantEquipment'>
	<span>Important Equipment / Other Information</span>
	<textarea></textarea>
  </div>
</div>

		<!--
<div class='notpk'>
  <div class='attributesSection'>
	<div class='stats'>
	  <table cellspacing="0">
		<tr>
		  <td>STR</td>
		  <td><input type="number"/></td>
		  <td><input type="text" value="+ "/></td>
		</tr>
		<tr>
		  <td>DEX</td>
		  <td><input type="number"/></td>
		  <td><input type="text" value="+ "/></td>
		</tr>
		<tr>
		  <td>CON</td>
		  <td><input type="number"/></td>
		  <td><input type="text" value="+ "/></td>
		</tr>
		<tr>
		  <td>INT</td>
		  <td><input type="number"/></td>
		  <td><input type="text" value="+ "/></td>
		</tr>
		<tr>
		  <td>WIS</td>
		  <td><input type="number"/></td>
		  <td><input type="text" value="+ "/></td>
		</tr>
		<tr>
		  <td>CHA</td>
		  <td><input type="number"/></td>
		  <td><input type="text" value="+ "/></td>
		</tr>
	  </table>
	</div>
  <div class='basicInfoSection'>
	<div class='characterIdentification'>
	  <div>
		<input type="text" />
		<span>Name</span>
	  </div>
	  <div>
		<input type="text" />
		<span>Race</span>
	  </div>
	  <div>
		<input type="text" />
		<span>Class</span>
	  </div>
	  <div>
		<input type="text" />
		<span>Level</span>
	  </div>
	  <div>
		<input type="text" />
		<span>Alignment</span>
	  </div>
	</div>
  
	
	<div class='defenses'>
	  <div>
		<input type="text" />
		<span>Init</span>
	  </div>
	  <div>
		<input type="text" />
		<span>Move</span>
	  </div>
	  <div>
		<input type="text" />
		<span>AC</span>
	  </div>
	  <div>
		<input type="text" />
		<span>FF</span>
	  </div>
	  <div>
		<input type="text" />
		<span>Touch</span>
	  </div>
	</div>
</div>
 
  <div class='attributesAndAbilities'>          
	  <div class='babEtc'>
		<table cellspacing="0">
		  <tbody>
			<tr>
			  <td>BAB</td>
			  <td><input type="text" value="+ "/></td>
			</tr>
			<tr>
			  <td>GRAPPLE</td>
			  <td><input type="text" value="+ "/></td>
			</tr>
			<tr>
			  <td>MELEE</td>
			  <td><input type="text" value="+ "/></td>
			</tr>
			<tr>
			  <td>RRANGED</td>
			  <td><input type="text" value="+ "/></td>
			</tr>
		  </tbody>
		</table>
	  </div>
	
	  <div class='saves'>
		<table cellspacing="0">
		  <tbody>
			<tr>
			  <td>FORT</td>
			  <td><input type="text" value="+ "/></td>
			</tr>
			<tr>
			  <td>REF</td>
			  <td><input type="text" value="+ "/></td>
			</tr>
			<tr>
			  <td>WILL</td>
			  <td><input type="text" value="+ "/></td>
			</tr>
			<tr>
			  <td>INIT</td>
			  <td><input type="text" value="+ "/></td>
			</tr>
		  </tbody>
		</table>
	  </div>
	</div>
  
	<div class='skillsAndFeats'>
	  <div class='skills'>
		<span>Skills</span>
		<textarea>some skill +value</textarea>
	  </div>
  
	  <div class='feats'>
		<span>Feats</span>
		<textarea>some feat</textarea>
	  </div>
	</div>
  
	<div class='abilities'>
	  <span>Abilities</span>
	  <textarea>some ability (eg class, supernatural, extraordinary, etc)</textarea>
	</div>
  </div>
	
  <div class='weapons'>
	<table>
		<tr>
		  <th>Weapon Name</th>
		  <th>To Hit</th>
		  <th>Damage</th>
		  <th>Threat</th>
		  <th>Damage Type</th>
		  <th>Special</th>
		</tr>
		<tr>
		  <td><input type="text"/></td>
		  <td><input type="text"/></td>
		  <td><input type="text"/></td>
		  <td><input type="text"/></td>
		  <td><input type="text"/></td>
		  <td><input type="text"/></td>
		</tr>
	</table>
  </div>
  
  <div class='armour'>
	<table>
		<tr>
		  <th>Armour Name</th>
		  <th>Type</th>
		  <th>AC</th>
		  <th>Max Dex</th>
		  <th>Check</th>
		  <th>Arc. Fail</th>
		  <th>Move</th>
		  <th>Special</th>
		</tr>
		<tr>
		  <td><input type="text"/></td>
		  <td><input type="text"/></td>
		  <td><input type="text"/></td>
		  <td><input type="text"/></td>
		  <td><input type="text"/></td>
		  <td><input type="text"/></td>
		  <td><input type="text"/></td>
		  <td><input type="text"/></td>
		</tr>
	</table>
  </div>
  
  <div class='shield'>
	<table>
		<tr>
		  <th>Shield Name</th>
		  <th>AC</th>
		  <th>Type</th>
		  <th>Check</th>
		  <th>Arc. Fail</th>
		  <th>Special</th>
		</tr>
		<tr>
		  <td><input type="text"/></td>
		  <td><input type="text"/></td>
		  <td><input type="text"/></td>
		  <td><input type="text"/></td>
		  <td><input type="text"/></td>
		  <td><input type="text"/></td>
		</tr>
	</table>
  </div>
  
  <div class='importantEquipment'>
	<span>Important Equipment / Other Information</span>
	<textarea></textarea>
  </div>
</div>
-->